<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/hi_3.png"
        alt="Ichwan Noerfitrah"
        class="rounded-circle"
        width="200"
        height="200"
      />
      <h2 class="display-4">Ichwan Noerfitrah</h2>
      <p class="lead">Fullstack Web Developer | Programmer</p>
    </div>
  </div>
</div>
